tr:nth-child(even) {
  background-color: rgb(239, 237, 237);
}

.create-new-book {
  background-color: rgb(13, 232, 210);
  display: block;
  color: white;
  height: 35px;
  border: none;
  border-radius: 5%;
}

tbody th {
  color: rgb(13, 232, 210);
}

tr {
  cursor: pointer;
}

thead th {
  text-align: left;
}

thead tr th {
  border-bottom: 2px solid goldenrod;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-left: 20px;
}

.create-new-book {
  margin-top: 10px;
  height: 35px;
  background-color: rgb(13, 232, 210);
  color: white;
  width: 150px;
}

.cancel-new-book {
  height: 35px;
  background-color: rgb(13, 232, 210);
  color: white;
  border: none;
  width: 80px;
  margin-top: 10px;
}

.container-new-book input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.container-new-book {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: auto;
}

.buttons-new-book {
  display: block;
  margin-left: 115px;
}

.update-book {
  background-color: rgb(13, 232, 210);
  display: block;
  color: white;
  height: 35px;
  border: none;
  border-radius: 5%;
  width: 100px;
  margin-bottom: 10px;
}

.cancel {
  background-color: rgb(13, 232, 210);
  display: block;
  color: white;
  height: 35px;
  width: 70px;
  border: none;
  border-radius: 5%;
  margin-bottom: 10px;
}

.delete-book {
  background-color: rgb(13, 232, 210);
  display: block;
  color: white;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 5%;
}

.update-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding: 10px;
}

.card-update {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
}

.container-update {
  width: 300px;
  height: auto;
}

input {
  padding: 10px;
}

.error h1 {
  color: red;
}

.error p {
  color: red;
}


.err{

  border: 2px solid red;
}